$header-height: 46px;
$toolbar-height: 42px;
$formula-height: 33px;
$info-cell-width: 40px;
$row-height: 24px;
$cell-width: 120px;
$dashboard-header-height: 64px;
$border-color: #c0c0c0;
$color-select: #137333;
